@title-font: 'Roboto', sans-serif;
@text-font: 'Roboto', sans-serif;
@easy-reading-font: 'Lora', serif;

@text-color: rgb(78, 78, 81);
@easy-reading-text-color: #202125;
@title-color: #202125;
@header-link-color: @darklight1;
@hint-text-color: lighten(@text-color, 30%);

/*@background-grey: rgb(247, 247, 249);*/
@background-grey: #F5F5F8;
.card {
  background-color: white;
  border: 1px solid rgb(225, 225, 231);
  box-shadow: rgb(225, 225, 231) 0px 0px 3px 0px;
}

@highlight1: rgb(141, 0, 63);
@highlight1-light: lighten(@highlight1, 10%);

@darklight1: #5d606d;

@lowlight1: rgb(170, 170, 180);

/* Sizes */
@footer-height: 60px;

