# Ignore generated zip files of any name
*.zip

# Ignore environment variables file
export_env.sh

# Ignore dependencies
boto3-1.4.7.dist-info/
boto3/
botocore-1.7.3.dist-info/
botocore/
certifi-2017.7.27.1.dist-info/
certifi/
chardet-3.0.4.dist-info/
chardet/
dateutil/
docutils-0.14.dist-info/
docutils/
idna-2.6.dist-info/
idna/
jmespath-0.9.3.dist-info/
jmespath/
pg8000-1.11.0.dist-info/
pg8000/
python_dateutil-2.6.1.dist-info/
requests-2.18.4.dist-info/
requests/
s3transfer-0.1.11.dist-info/
s3transfer/
six-1.10.0.dist-info/
six.py
urllib3-1.22.dist-info/
urllib3/
